# Nick Chen

## Research question/interests

We intend to investigate the demand of global fish and seafood production via wild capturing and the affect it had on climate change by looking at how it affects the sustainable fish stocks. Does the wild fish stock will ever fulfilled the increasing demand resulted by the evergrowing global population? What will be the prediction of the wild fish stock if overfishing still exists for the next decade?

We also want to shift our perspective by looking at how technologies like aquaculture and seafood farming will help alleviate the impact of overfishing. Comparing country and region in terms of the extent of overfishing and their levels of overexploited fisheries to analyze and their production trend.

In [ ]:
## Importing the dataset

import numpy as np
import pandas as pd

aquaculture = pd.read_csv("https://raw.githubusercontent.com/ubco-W2022T1-cosc301/project-group34/main/data/raw/capture-fisheries-vs-aquaculture.csv", sep=",")
capturedVsAquaculture= pd.read_csv("https://raw.githubusercontent.com/ubco-W2022T1-cosc301/project-group34/main/data/raw/capture-fisheries-vs-aquaculture.csv", sep=",")
captured = pd.read_csv("https://raw.githubusercontent.com/ubco-W2022T1-cosc301/project-group34/main/data/raw/capture-fishery-production.csv", sep=",")
seafoodConsumptionpercapita = pd.read_csv("https://raw.githubusercontent.com/ubco-W2022T1-cosc301/project-group34/main/data/raw/fish-and-seafood-consumption-per-capita.csv", sep=",")
sustainableFishStocks = pd.read_csv("https://raw.githubusercontent.com/ubco-W2022T1-cosc301/project-group34/main/data/raw/fish-stocks-within-sustainable-levels.csv", sep=",")
globalFisheryBySector = pd.read_csv("https://raw.githubusercontent.com/ubco-W2022T1-cosc301/project-group34/main/data/raw/global-fishery-catch-by-sector.csv", sep=",")
seafoodProduction = pd.read_csv("https://raw.githubusercontent.com/ubco-W2022T1-cosc301/project-group34/main/data/raw/seafood-and-fish-production-thousand-tonnes.csv", sep=",")

captured.head()

        Entity Code  Year  Capture fisheries production (metric tons)
0  Afghanistan  AFG  1960                                       200.0
1  Afghanistan  AFG  1961                                       300.0
2  Afghanistan  AFG  1962                                       300.0
3  Afghanistan  AFG  1963                                       300.0
4  Afghanistan  AFG  1964                                       300.0